@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Jernbanegade 15,<br />
    8740 Brædstrup<br />
    <abbr title="Telefon">Tlf:</abbr>
    42 70 56 03
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@lax.com">Support@lax.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@lax.com">Marketing@lax.com</a>
</address>